.team--container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.team {
    position: relative;
    width: 400px;
}

.team-member--two {
    position: absolute;
    top: 0;
    left: 190px;
}

.team-member--container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fcba03;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
}
    
.team-member--img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.team--one {
    .team-member__danicng {
        position: relative;
        animation: dancing 1s ease-in-out 0.5s infinite;
    }
}
.team--two {
    .team-member__danicng {
        position: relative;
        animation: dancing 1s ease-in-out 1.0s infinite ;
    }
}


.team__flying {
    animation: bigBoxAnimation 6s linear 2.0s infinite;

    .team-member--one {
        animation:boxAnimation 4.95s cubic-bezier(0.02, 0.01, 0.31, 1) 1.7s infinite;
        transform:matrix(-1,0,0,1,0,0);

    }
    .team-member--two{
        animation:boxAnimation 3.2s cubic-bezier(0.02, 0.01, 0.31, 1) 2.0s infinite;
        transform:matrix(-1,0,0,1,0,0);
    }
}

@keyframes bigBoxAnimation {
    100% {transform:rotate(360deg);}
}
@keyframes boxAnimation{
    50% {transform:translateY(-50px);}
}

@keyframes dancing {
    0% { left: 10px; top: 0; }
    25% { left: 20px; top: 20px }
    50% { left: 30px; top: 0px; }
    75% { left: 20px; top: 20px }
    100% { left: 10px; top: 0px; }
}