@import "../../utils/variables.scss";

.team--container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.team {
    position: relative;
    width: 400px;
}

.team-member--two {
    position: absolute;
    top: 0;
    left: 190px;
}

.team-member--container {
    width: 25vh;
    height: 25vh;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 5px solid $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
}
.team-member--img {
    width: 25vh;
    height: 25vh;
    max-width: 200px;
    max-height: 200px;

    border-radius: 50%;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
