.spotlight {
    background: radial-gradient(10px 10px at 65px calc(100% - 65px), transparent 0, transparent 60px, rgba(255, 255, 255, 0.1) 65px);
    height: 100%;
    pointer-events: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 100000000;
    bottom: 0px;
    opacity: 0.1;
    


    @for $i from 0 through 100 {
      $key: $i + 1;
      &:nth-child(#{$key}) {
        $row: floor($i / 20);
        color: rgba(random(155) + 100, random(155) + 100, random(55), 1);
        //color: rgba(random(30), random(100), random(155) + 100, 1);
        animation: clip#{$i} random(10000) + 10000ms ease-in-out infinite alternate;
        filter: blur(#{random(25) - 10}px);
        @keyframes clip#{$i} {
          0% {
            clip-path: circle(random(150) + 30px at random(160) - 30% random(160) - 30%);
          }
          25% {
            clip-path: circle(random(150) + 30px at random(160) - 30% random(160) - 30%);
          }
          50% {
            clip-path: circle(random(150) + 30px at random(160) - 30% random(160) - 30%);
          }
          75% {
            clip-path: circle(random(150) + 30px at random(160) - 30% random(160) - 30%);
          }
          100% {
            clip-path: circle(random(150) + 30px at random(160) - 30% random(160) - 30%);
          }
        }
      }
    }
  }