@import "utils/variables.scss";

.main--container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title--container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    font-family: 'Alfa Slab One', cursive;
    color: $secondary-color;
    font-size: 5rem;
}
